


     <div class="container mt-5 p-3" style="">
  
        <div class="row">
            <div class="col-md-6">
                <img src="./images/a.png" class="w-100">
            </div>
            <div class="col-md-6">
                     <form action="/gigs/search" method="get"> 
                    <div class="d-flex pt-5">
                          <input class="form-control me-2 w-100" style="border:2px solid black" required  type="search" name="term" placeholder="Search for gig" aria-label="Search">
                          <button class="btn btn-outline-dark btn-dark" type="submit" style="color:white;">Search</button>
                        </form> 
                    </div> 
            </div>
           
        </div>
        </div>

